#pkill conky &
pkill mpd-notification &
pkill nm-applet &
pkill volumeicon &

compton -cCG -r 7 -l -11 -t -11 -o 0.5 -f -D 5 --glx-use-copysubbuffermesa &
nitrogen --restore &
mpd-notification &
sxhkd -c ~/.config/sxhkd/sxhkdrc &

#conky -c ~/.config/wmfs/conkyrc | while true; read line; do wmfs -c status "conkybar $line"; done &
