/* tab separators */
.tabbrowser-tab:after, .tabbrowser-tab:before { visibility: hidden !important; }


/* make tabs not huge */ 
.tabbrowser-tab .tab-content { padding: 0 3px 8px 7px !important; }
.tabbrowser-tab[selected] .tab-content{ padding: 0 3px 8px 7px !important; }

.tab-icon-image {
    width: 12px;
    height: 12px;
    opacity: 0.3;
}

/* tab backgrounds are ugly */
.tab-background {opacity:0!important;}

#TabsToolbar {
    -moz-appearance:none !important;
    background: #090909 !important;
    padding: 0 !important;
    margin: 0 -16px 0px -13px !important;
}

tabs {
    max-height: 20px !important;
    min-height: 20px !important;
    font-family: leem !important;
    background: #181512 !important;
    /*font-size: 10px !important;*/
    text-align: center !important;
    border:0px solid #161616!important;
    border-width: 0px !important;
    margin: 0 0 0 0 !important;
    color: #333333 !important;
}

 tab, tabbrowser-tabs { 
    background: #181512 !important;
    border:0px solid #222222 !important;
    margin:0;
}

.tabbrowser-tab[selected] {
    background: #332d29 !important; 
    color: #333333 !important;
}

#toolbar {
    border-width: 0px !important;
}

.tabs-newtab-button {margin-top: -10px !important; margin-right: 15px !important; opacity: 0.3 !important;} 
.tab-close-button {opacity: 0.3}