<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Manage Cups Printers">
			<action name="Execute">
				<command>xdg-open http://localhost:631/</command>
				<startupnotify>
					<enabled>no</enabled>
					<icon>cups</icon>
				</startupnotify>
			</action>
		</item>
		<item label="lxappearance">
			<action name="Execute">
				<command>lxappearance</command>
			</action>
		</item>
		<item label="Edit menu.xml">
			<action name="Execute">
				<command>subl3 ~/.config/openbox/menu.xml</command>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="Run">
			<action name="Execute">
				<command>bashrun</command>	
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<command>urxvt</command>	
			</action>
		</item>
		<item label="Nautilus">
			<action name="Execute">
				<command>nautilus</command>	
			</action>
		</item>
		<item label="Steam">
			<action name="Execute">
				<command>steam</command>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<command>exo-open --launch WebBrowser</command>
			</action>
		</item>
		<item label="Change Wallpaper">
			<action name="Execute">
				<command>nitrogen</command>
			</action>
		</item>
		<separator/>
		<menu id="desktop-app-menu" label="Applications" execute="/usr/bin/xdg-menu" />
		<menu id="system-menu"/>
		<separator/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
